<div class="row">
  <div class="col-12">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group mb-2">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          autocomplete="off"
        >
      </div>
      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        >
      </div>
      <!-- buttons -->
      <div>
        <button
          class="btn btn-primary mr-2"
          [disabled]="!authForm.valid"
          type="submit"
          >{{ isLoginMode ? 'Login': 'Sign up'}}</button>|
        <button
          class="btn btn-primary ml-2"
          (click)="onSwitchMode()"
          type="button"
        >Switch to {{ isLoginMode ? 'Sign up': 'Login'}} </button>
      </div>
    </form>
  </div>
</div>
